<!DOCTYPE html>
<html>
<body>

<h1></h1>
<p></p>

<form>
    <label for="expense">Expense</label><br>
    <input type="text" id="expense" name="expense"><br>
    <label for="amount">Amount</label><br>
    <input type="number" min="1" step="any" id="amount" name="amount"><br>
    <label for="cat">Category</label><br>
    <input type="text" id="cat" name="cat"><br>
    <label for="date">Date</label><br>
    <input type="date" id="date" name="date"><br>
    <br>
    <input type="submit" value="Send Request" />
  </form>
  

</body>
</html>